.add-item-button {
  display: table-cell;
  vertical-align: middle;
  width: 120px;
  height: 40px;
  background: #FFFFFF;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.04);
  border-radius: 12px;
}

.add-item-button__text {
  text-align: center;
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  line-height: 20px;
  font-size: 14px;
}