@font-face {
  font-family: Quicksand;
  src: url('../../fonts/Quicksand_Bold.otf');
}
.container {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #FAFAFE;
  font-family: Quicksand ;
}

.content {
  margin: 0 20vw;
}

.content-title {
  font-size: 26px;
  line-height: 32.5px;
}