.add-item-list-button {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:justify;
  -ms-flex-pack:justify;
  justify-content:space-between;
  margin: 10px;
  padding: 10px 20px;
  border-radius: 0.5em;
  width: 182px;
  height: auto;
  background-color: #ffffff;
}

.item-name {
  left: 0;
}

.plus-icon {
  right: 0;
  color: gray;
}