.save-item-list-form {
  position: relative;
}

input[type=search] {
  -webkit-appearance: none;
  display: inline-block;
  margin-right: 0;
  margin-bottom: 20px;
  padding: 10px;
  width: 200px;
  height: 40px;
  font-size: 100%;
  box-sizing: border-box;
  border-radius: 5px 0 0 5px;
  border: 1px solid #ccc;
  border-right: none;
}
