.shopping-list {
  position: sticky;
  width: 25vw;
  height: 80vh;
  background-color: #FFF0DE;
}

.add-item-guideline {
  position: absolute;
  top: 2em;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  width: 80%;
}