.sidebar {
  position: absolute;
  width: 10vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #FFFFFF;
}

.sidebar__img {
  position: absolute;
  top: 2em;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

.cart-button {
  position: absolute;
  bottom: 2em;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}